/* scree from 375 and higher */
* {
    box-sizing: border-box;
}
@media only screen and (min-width: 375px){
    body {
        background-color: hsl(220, 15%, 55%);
        
    }
    
    #container {
        width: 320px;
        height: 497px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        margin-bottom: auto;
  
    }
    
    img {
        display: flex;
        width: 288px;
        height: 288px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        border-radius: 20px;
     
    }

    p {
        width: 288px;
        height: 56px;
        padding: 7px;
        font-family: Nunito;
        font-size: 23px;
        display: flex;
        font-weight: 700;
        text-align: justify;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        color: hsl(218, 44%, 22%);
    }

    .text{
        width: 257px;
        height: 57px;
        font-family: Nunito;
        font-size: 15px;
        display: flex;
        font-weight: 400;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        color: hsl(212, 45%, 89%);
    }
    .attribution { 
        margin: 6px;
        font-size: 13px; text-align: center; 
    }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }
}
